<div class="container">
    <div class="inbox" ng-show="mcc.showInbox">
        <div class="header_inbox">
            <p class="name_inbox">Hỗ trợ viên</p>
            <p class="icon_close" ng-click="mcc.showInbox=!mcc.showInbox">X</p>
        </div>
        <div class="msg_history" ngf-drop="mcc.sendImgFile($files)" class="drop-box" ngf-drag-over-class="'dragover'"
            ngf-multiple="true">
            <div class="msg" ng-repeat="msg in mcc.conver.Messages">
                <div class="incoming_msg" ng-if="mcc.user.username != msg.username">
                    <div class="received_msg">
                        <div class="received_withd_msg">
                            <p class="msg_text" ng-if="msg.type=='text'" ng-bind-html="msg.content"></p>
                            <p class="msg_file" ng-if="msg.type=='file'">
                                <a href="{{msg.path+'/download'}}" ng-bind-html="mcc.downloadicon + msg.content">
                                </a>
                            </p>
                            <img ng-src="{{msg.paththumb}}" alt="not found" ng-if="msg.type=='img'" data-toggle="modal"
                                data-target="#viewimg" ng-click="mcc.viewimgSrc=msg.path">
                            <span class="time_date">{{msg.sendAt | date: "MM/dd/yyyy '|' h:mma"}}</span>
                        </div>
                    </div>
                </div>
                <div class="outgoing_msg" ng-if="mcc.user.username == msg.username">
                    <div class="sent_msg">
                        <p class="msg_text" ng-if="msg.type=='text'" ng-bind-html="msg.content"></p>
                        <p class="msg_file sent_msg_file" ng-if="msg.type=='file'">
                            <a href="{{msg.path+'/download'}}" ng-bind-html="mcc.downloadicon + msg.content">
                            </a>
                        </p>
                        <img ng-src="{{msg.paththumb}}" alt="not found" ng-if="msg.type=='img'" data-toggle="modal"
                                data-target="#viewimg" ng-click="mcc.viewimgSrc=msg.path">
                        <span class="time_date">{{msg.sendAt | date: "MM/dd/yyyy '|' h:mma"}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="msg_type">
            <div class="input_msg_write">
                <textarea type="text" class="write_msg_customer" placeholder="Gõ tin nhắn..."
                    ng-model="mcc.msg_typing"></textarea>
                <button class="msg_send_btn" type="button">
                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true" ngf-select="mcc.sendImgFile($files)"
                        multiple="multiple"></span>
                </button>
            </div>
        </div>
    </div>
    <span class="icon_open glyphicon glyphicon-comment" ng-if="!mcc.showInbox"
        ng-mouseup="mcc.showInbox=!mcc.showInbox"></span>
</div>
<div class="modal fade" id="viewimg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="options">
        <a href="{{mcc.viewimgSrc+'/download'}}"><span class="glyphicon glyphicon-save option"></span></a>
        <span class="glyphicon glyphicon-remove option" data-dismiss="modal"></span>
    </div>
    <div class="img">
        <img id="viewimage" ng-src="{{mcc.viewimgSrc}}" alt="not found">
    </div>
</div>